/*
 * Login: xsvaty01
 *
 * Doplnte sve reseni.
 *
 * Nezapomente pridat strucne hromadne komentare pro pravidla jednotlivych sekci
 * a pro netrivialni useky kodu (napr. bubliny v sekci #refs)
 */

html {
    min-width: 768px;
    /*max-width: 1200px;*/
    
    /*margin: auto;*/
    /*Changes default font*/
    font-family: PT Sans;
    line-height: 1.7;
    
}


/* Cant remember if this needs to be here 
and at this point i am too afraid to remove it */
* {
    padding: 0%;
    margin: 0%;
    
    text-shadow: 10px;
    animation-duration: 0.5s;
}

@media only screen and (max-width: 768px) {
    html {
        margin-left: 0%;
    }

    * {
        padding: 0%;
        margin: 0%;
    }
}

section {
    margin-top: 60px;
    margin-bottom: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

h3 {
    font-size: 24px;
}

a {
    color: gray;
    text-decoration: none;
}

p {
    font-size: 18px;
}

/* Idividual properties */

#header {
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    height: 100vh;
    min-height: 400px;
    margin-bottom: 80px;
}

#header .content {
    margin-top: 20px;
    margin-bottom: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

#header #header-menu {
    margin-top: 10px;
    color: gray;
}

#header #header-menu #logo {
    font-family: Special Elite;
    margin-right: 10px;
    color: steelblue;
    font-size: 25px;
    display: inline;
}

#header #header-menu #logo span a {
    color: steelblue;
}

/* White logo on hover */
#header #header-menu #logo span a:hover {
    color: white;
}

#header #header-menu #contacts {
    
    float: right;
}

#header #header-menu #contacts i {
    color: steelblue;
}

/* Email white on hover */
#header #header-menu #contacts #mail a:hover {
    color: white;
}

#header #header-menu #networks {
    float: right;
}

#header #header-menu #networks i {
    font-size: 150%;
    margin-right: 10px;
    color: steelblue;
}

#header #header-menu #networks i:hover {
    color: white;
}

#header #header-menu #navigation {
    font-size: 13px;
    letter-spacing: .05em;
    padding-left: 15px;
    padding-top: 5px;
    display: block;
    border: 1px;
    width: 1000px;
    
}

#header #header-menu #navigation ul li {
    display: inline;
    margin-right: 10px;
    padding: 10px;
}

#header #header-menu #navigation ul li:hover {
    border: 1px solid #bfbfbf;
    padding: 9px;
}

#header #header-title {
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 33%;
    color: white;
}

#header #header-title h1 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 64px;
}

#header #header-title #get-started {
    font-size: 18px;
    padding: 20px 0px 20px 0px;
    text-align: center;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 15px;
    width: 150px;
    margin-top: 20px;
    margin-left: 20px;
}

#header #header-title #get-started:hover {
    background-color: steelblue;
}

#header #header-title #get-started:hover a {
    color: white;
}

#header #header-title #get-started a:hover {
    color: white;
}

@media only screen and (max-width: 768px) { /* TODO -> finish */
    #header #header-title {
        font-size: 32px;
    }

    #header #header-menu #navigation {
        width: 100%;
    }

    #header #header-title #contacts {
        margin-right: 0%;
        width: 100%;
        float: right;
    }
}

@media only screen and not (max-width: 768px) {
    #header {
        background-image: url("../img/header.jpg");
        padding-left: 20%;
        padding-right: 20%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        height: 100vh;
        min-height: 400px;
    }

}


/*------SERVICES------*/

#services {
    max-width: 1200px;
    margin: auto;
}

#services h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
}

#services p {
    font-size: 18px;
    color: #bfbfbf;
}

#services .content > div:first-of-type{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding-left: 16%;
    padding-right: 16%;
}

.services-column {
    width: 300px;
    text-align: center;
    
    margin: 40px;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
    border-radius: 5px;
    /*transition: 0.3s;*/
}

.services-column:hover {
    box-shadow: 4px 4px 4px 4px steelblue;
}

.services-column:hover h3 {
    color: steelblue;
}

.services-column .services-card img:nth-child(1) {
    display: block;
    width: 50px;
    padding: 5px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: steelblue;
    border-width: 1px;
    border-radius: 5px;
    
}

.services-card img:nth-child(2) {
    width: 0%;
}

/* Inverted colors on image */
.services-column:hover .services-card img:nth-child(1) {
    display: none;
    width: 0%;
    border: none;
}

.services-column:hover .services-card img:nth-child(2) {
    display: block;
    width: 50px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 28px; /* Very specific value but works */
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: steelblue;
    border-width: 1px;
    border-radius: 5px;
    background-color: steelblue;
}

.services-card p {
    font-size: 14px;
    color: #bfbfbf;
}

@media only screen and (max-width: 1200px) {
    #services .content p {
        margin-left: 20px;
        margin-right: 20px;
    }

    #services .content > div:first-of-type {
        flex-wrap: wrap;
        padding-left: 10px;
        padding-right: 10px;
    }

    #services .services-column {
        width: 320px;
        margin: 20px;
    }
}

@media only screen and (max-width: 768px) {
    #services .content p {
        margin-left: 20px;
        margin-right: 20px;
    }

    #services .content > div:first-of-type {
        flex-wrap: wrap;
        padding-left: 10px;
        padding-right: 10px;
    }

    #services .services-column {
        width: 260px;
        margin: 20px;
    }
}


/*------ABOUT------*/

#about {
    padding-left: 15%;
    padding-right: 15%;
    background-color: #f7f7f7;
}

#about h2 {
    font-size: 32px;
}

#about p {
    color: #4d4d4d;
}

#about .content {
    max-width: 1200px;
    margin-top: 60px;
    margin-bottom: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

#about .content .about-item img {
    width: 40%;
    float: right; 

    padding: 80px 80px 40px 40px;
}

#about .content > .about-item:nth-of-type(1) img {
    float: left; 
}

#about .content .about-item img:hover {
    width: 50%;
}

#about .content .about-item h2 {
    padding-top: 40px;
}

#about .content .about-item p {
    padding-bottom: 40px;
}

@media only screen and (max-width: 1200px) {
    #about {
        padding: 0%;
    }
}

/*------TEAM------*/

#team {
    border-bottom: 1px dashed black;
}

#team .content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 80px;
}

#team .content h2 {
    align-self: flex-start;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-family: PT Sans;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#team .content .team-card {
    text-align: center;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 80px;
}

#team .content .team-card h3 {
    font-size: 24px;
}

#team .content .team-card h4 {
    color: #4d4d4d;
}

#team .content .team-card p {
    color: #bfbfbf;
}

/* Cards on hover */
#team .content .team-card:hover {
    box-shadow: 0 4px 8px 0 steelblue;
}

#team .content .team-card:hover h3 {
    color: steelblue;
}

@media only screen and (max-width: 1200px) {
    #team .content {
        justify-content: space-evenly;
    }

    #team .content .team-card {
        width: 20%;
    }
}

@media only screen and (max-width: 768px) {
    #team .content .team-card {
        width: 18%;
    }   
}

#team .content .team-card img {
    object-fit: cover;
    width: 100%;
}

/*------STATS------*/

#stats {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 80px;
}

#stats .content {
    display: flex;
    justify-content: space-between;
}

#stats .content .stats-card { 
    width: 25%;
    max-width: 300px;
    height: 50%;
    text-align: center;
    background-color: #4d4d4d;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

#stats .content .stats-card i {
    color: steelblue;
    
    width: 100%;
    height: 120%;
}

#stats .content .stats-card h3 { 
    font-size: 32px;
    margin: 0px;
    color: white;
}

#stats .content .stats-card p {
    color: white;
    margin: 0px;
    margin-bottom: 10px;
}

#stats .content .stats-card:hover {
    background-color: steelblue;
}

@media only screen and (max-width: 768px) {
    #stats .content .stats-card {
        width: 30%;
        margin: 20px;
    }
}

/*------PRICE------*/

#price {
    background-color: #f7f7f7;
    padding-top: 10px;
    padding-bottom: 10px;
}

#price .content {
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px;
}

#price .content h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;
}

#price .content table {
    border-collapse: collapse;
    margin-left: 10%;
    width: 80%;
}

#price .content table tbody tr td ul > li:first-of-type { /*TODO*/
    text-decoration: none;
}

#price .content table tr td {
    border-top: 1px dotted steelblue;
    border-bottom: 1px dotted steelblue;
    margin: 20px;
    padding: 20px;
}

#price .content table tbody tr:hover {
    background-color: white;
}

#price .content table tr td button {
    padding: 20px;
    position: relative;
    margin-left: 25%; /*center*/
    background-color: #f7f7f7;
    border-radius: 5px;
    border: 1px solid steelblue;
}

#price .content table tr td button:hover {
    background-color: steelblue;
    color: white;
}

#price .content table thead, tbody {
    width: 80%;
}

/*------REFS------*/

#refs {
    padding-top: 60px;
    padding-bottom: 80px;
    max-width: 1200px;
    margin: auto;
}

#refs .content {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-between;
}

#refs .content .refs-card {
    max-width: 400px;
}

#refs .content .refs-card img {
    width: 60px;
    border-radius: 50%;
    margin-top: 20px;
}

#refs .content .refs-card h3 {
    text-decoration: none;
    display: inline;
    font-size: 21px;
    font-weight: normal;
    margin-left: 10px;
}


/* Speech bubble */
#refs .content .refs-card blockquote span {
    padding: 20px;
}

#refs .content .refs-card blockquote span::before {
    content: "\"";
    position: absolute;
    color: steelblue;
    left: 7px;
    top: -20%;
    width: 0;
    height: 0;
    font-style: italic;
    font-size: 96px;
}

/* Change color of " to white on hover */
#refs .content .refs-card blockquote:hover span::before {
    color: white;
}

#refs .content .refs-card blockquote {  
    position: relative;
    color: white;
    background-color: #4d4d4d;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
	border-radius: .4em;
}

#refs .content .refs-card blockquote:after {
    content: '';
	position: absolute;
	bottom: 0;
	left: 20%;
	width: 0;
	height: 0;
	border: 17px solid transparent;
	border-top-color: #4d4d4d;
	border-bottom: 0;
	border-left: 0;
	margin-left: -8.5px;
	margin-bottom: -17px;
}

/* Chage color on hover */
#refs .content .refs-card blockquote:hover {
    background-color: steelblue;
}

#refs .content .refs-card blockquote:hover::after {
    border-top-color: steelblue;
}

@media only  screen  and (max-width: 768px) {
    #refs .content {
        margin-left: 5%;
        margin-right: 5%;
    }
}

/*------CONTACT------*/

#contact {
    border-top: 1px dashed black;
    margin-top: 40px;
    margin-bottom: 40px;
}

#contact .content {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: [first] 200px [second] 200px [third] 200px [fourth] 200px;
    grid-template-rows: repeat(5, 20%);
}

#contact .content h2 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 60px;

    grid-column-start: 1;
    grid-column-end: 20;
    grid-row-start: 1;
    grid-row-end: 1;
}

#contact .content #map {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 2;
    height: 400px;
    width: 50%;
    margin-bottom: 40px;
    border-radius: 5px;
}


#contact .content form {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 5;
}

#contact .content form input, textarea {
    margin: 10px;
    padding: 20px;
    color: steelblue;
    border: 1px solid steelblue;
    border-radius: 5px;
}

#contact .content form #contact-email:invalid {
    color: red;
}

#contact .content form #contact-email::placeholder {
    color: steelblue;
}

#contact .content form input:placeholder-shown {
    border: 1px solid steelblue;
}

#contact .content form #contact-name {
    width: auto;
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
}

#contact .content form #contact-email {
    width: auto;
}

#contact .content form #contact-subject {
    width: 76%;
}

#contact .content form #contact-message {
    width: 76%;
    height: 25%;
}

#contact .content #contact-submit {
    width: 250px;
    height: 40px;
    color: white;
    background-color: steelblue;
    border: none;
    padding: 0%;
    margin-left: 25%;
}

#contact .content #contact-submit:hover {
    background-color: green;
}

/* Broken (i dont understand grid)*/
@media only  screen  and (max-width: 768px) {
    #contact {
        margin-left: 20px;
        margin-right: 20px;
    }

    #contact .content h2 {
        text-align: center;
        margin-left: -15%;
    }

    #contact .content #contact-email {
        margin-right: 20%;
    }

    #contact .content #contact-submit {
        margin-left: -100%;
        
    }

    #contact .content form input {
        margin-left: -50%;
    
    }

    #contact .content form textarea {
        margin-left: -100%;
        
    }
}

/*------FOOTER------*/

#footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 150px;
    color: white;
    background-color: black;
}

#footer .content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#footer .content span {
    align-self: center;
    padding-left: 150px;
    padding-right: 150px;
}

@media only screen and (max-width: 768px) {
    #footer .content {
        text-align: center;
        padding: 0%;
        margin: 0%;
    }
}